@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,300;0,400;1,400&family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kantumruy Pro', sans-serif;
}

:root {
  --color1: #1f1f1f;
  --color2: #da4933;
  --color3: #fffefa;
  --color4: #ffffff;
}

img {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--color1);
  transition: transform .2s;
  transition: box-shadow 0.3s ease-in-out
}

img:hover {
  /* transform: scale(0.991); */
  background-size: cover;
  box-shadow: 0px 0px 0px 0px;
}

.sectionP2 {
  margin: 30px 0 0 0;
}

.sectionP1 {
  margin: 30px 0;
  padding: 50px 0px 0px 0px;
}

body {
  margin: 2% 4%;
  background: var(--color3);
}

.active {
  color: var(--color2) !important;
  text-decoration: underline !important;
  text-decoration-thickness: 3px !important;
  text-underline-offset: 15px;
}

.weatherwidget-io {
  width: 400px;
  margin-top: -30px;
}

#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#date {
  font-weight: 800;
  letter-spacing: 1px;
  padding-bottom: 15px;
  margin-top: -15px;
}

#logo {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}

#logo .searchBox {
  margin-top: 10px;
}

#logo .searchBox .searchText {
  padding: 8px 20px;
  margin-right: 1rem;
  font-size: 1rem;
  border-radius: 10px;
}

#logo .searchBox .searchBtn i {
  font-size: 1.7rem;
  color: var(--color1);
}

#nav{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 20px 60px;
}

#nav ul li {
  display: hidden;
  font-size: 1.5rem;
  font-weight: 700;
}

#nav ul li a {
  text-decoration: none;
  color: var(--color1);
}

#nav.sticky {
  box-shadow: 4px 4px 9px var(--color1);
  width: 100vw;
  background: var(--color3);
  position: fixed;
  top: 0;
  border: 0;
}

.top2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.top2 h1 {
  font-size: 70px !important;
  font-weight: 800;
}

.trending {
  display: flex !important;
}

.top2 p a {
  text-decoration: none;
  color: var(--color1);
  font-size: 24px;
  margin-right: 12px !important;
  transition: 0.2s ease-in;
}

.top2 p a:hover {
  color: var(--color2) !important;
  text-decoration: underline !important;
  text-decoration-thickness: 3px !important;
  text-underline-offset: 15px;

}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--color2);


}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  top: 35px;
  bottom: 0;
  left: 0;
  background-color: var(--color2);
  transform-origin: bottom right;
  transition: transform 0.50s ease-out;
}

.hover-underline-animation:hover {
  color: var(--color2) !important;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left
}

.show {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0px 0px 0px;
}

.show img {
  width: 50%;
  height: 600px;
}

.text {
  width: 50%;
  margin-left: 40px;
}

.text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.text p:nth-child(2) {
  font-size: 15px;
  margin-bottom: 20px;
}

.text p:nth-child(3) {
  font-size: 24px;
}

.s3container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.s3left {
  width: 50%
}

.s3left img {
  width: 100%;
}

.s3left h1 {
  font-size: 25px;
  margin: 10px 0 10px 0;
}

.s3left p:nth-child(3) {
  font-size: 15px;
  margin: 0 0 10px 0;
}

.s3left p:nth-child(4) {
  font-size: 20px;
}

.s3container2 {
  width: 48%;
}


.s3news3 {
  display: flex;
  /* height: 630px; */
}

.s3news3 img {
  margin-bottom: 10px;
  width: 500px;
  height: 300px;
}



.s3news3 div:nth-child(2) {
  margin-left: 40px;
  line-height: 24px;
}

.s3news3 div:nth-child(2) h1 {
  font-size: 23px;
  margin-bottom: 10px;
  line-height: 25px;
}

.s3news3 div:nth-child(2) p:nth-child(2) {
  font-size: 14px;
  margin-bottom: 10px;
}

.s3news3 div:nth-child(2) p:nth-child(3) {
  font-size: 17px;
}

#s4 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

footer {
  background: var(--color1);
  padding-bottom: 50px !important;
  margin: auto;
}

.f1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;

}

.f1 ul {
  list-style: none;
}


.f1 .footerCol:nth-child(2) ul li:hover {
  cursor: pointer;
  color: var(--color2) !important;
  text-decoration: underline !important;
  text-decoration-thickness: 3px !important;
  text-underline-offset: 2px;
}

.f1 .footerCol:nth-child(3) ul li:hover {
  cursor: pointer;
  color: var(--color2) !important;
  text-decoration: underline !important;
  text-decoration-thickness: 3px !important;
  text-underline-offset: 2px;
}

.f1 .footerCol:nth-child(4) ul li:hover {
  cursor: pointer;
  color: var(--color2) !important;
  text-decoration: underline !important;
  text-decoration-thickness: 3px !important;
  text-underline-offset: 2px;
}

.footerCol img {
  margin-bottom: 20px;
}

.footerCol {
  width: 20%;
  padding: 0 15px;
}

.footerCol h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;

}

.footerCol ul li {
  font-size: 16px;
  color: var(--color4);
  font-weight: 300;
  margin-bottom: 7px;
}

.sociallink ul li {
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--color3);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--color1);
}

.sociallink ul li:hover {

  background-color: var(--color2);

  color: var(--color4);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loadMore {
  display: inline-block;
  text-align: center;
  font-size: 1.3rem;
  background: var(--color1);
  color: var(--color4);
  padding: 10px;
  border: 0;
  box-shadow: 4px 3px 5px var(--color1);
  transition: transform .2s;
  transition: box-shadow 0.3s ease-in-out
}

#loadMore:hover {
  cursor: pointer;
  background: var(--color2);
  color: var(--color4);
  box-shadow: 0px 0px 0px 0px;
}

main #s4 {
  display: none;
}

main #s4:nth-child(1) {
  display: flex;
}

.copy {
  color: var(--color4);
  margin-top: 20px;
  text-align: center;
}

.show_main{
  display: flex;
  flex-direction: column;
}

.show_main h1{
  font-size: 50px;
  padding: 20px 0px;
}

.show_main p:nth-child(2){
  font-size: 20px;
  padding: 0px 0px 20px 0px;
}

.show_main p:nth-child(4){
  font-size: 30px;
  padding: 20px 0px 0px 0px;
}

#readmore {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color2);
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 34px;
  user-select: none;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--color2); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px 20px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: var(--color2); /* Add a dark-grey background on hover */
}


@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/*responsive */

@media(max-width:1440px) {
  .show {
    flex-direction: column;
  }

  .show img {
    width: 100%;
    height: 900px;
  }

  .text {
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
  }

  .s3news3 img {
    margin-bottom: 10px;
    width: 100%;
    height: 400px;
  }

  .s3news3 div:nth-child(2) {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .s3news3 {
    flex-direction: column;
  }
  
  #nav {
    display: none;
    position: absolute;
    background-color: var(--color1);
    right: 0;
    left: 1;
    text-align: center;
    padding: 16px 0;
    border: none;
    height: 100vh;
    opacity: 0.9;
  }

  #nav ul li a {
    color: white !important;
    margin: 15px;
    font-size: 20px;
  }

  #nav ul {
    border: none;
    display: flex;
    flex-direction: column;

  }

  input[type=checkbox]:checked~#nav {
    display: inline-block;
    width: 100%;
  }

  .hamburger {
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--color1);
  }
  .f1 {
    justify-content: center;
    align-items: baseline;
}
}

@media(max-width:1024px) {

  .sectionP1 {
    margin: 30px 0;
    padding: 0px 0px 0px 0px;
}
  .show {
    flex-direction: column;
  }

  .show img {
    width: 100%;
    height: 500px;
  }

  .text p:nth-child(3) {
    font-size: 20px;
}

  .text {
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
  }

  .s3container {
    flex-direction: column;
  }

  .s3left {
    width: 100%;
  }

  .s3container2 {
    width: 100%;
    margin-top: 40px;
  }
  .s3news3 img {
    
    height: 550px;
}

  main #s4:nth-child(1) {
    flex-direction: column;
  }

  .f1 {
    justify-content: center
  }

  .footerCol img {
    width: 150px;
    margin-bottom: 20px;
  }


}

@media(max-width:768px) {
  .top2 h1 {
    font-size: 30px !important;
  }

  #logo a img {
    width: 300px;
    margin-left: -30px;
  }

  .show img {
    width: 100%;
    height: 400px;
  }

  .s3container2 {
    margin-top: 30px;
  }

  .f1 {
    margin-left: 0px;
  }

  #s4 {
    flex-direction: column;
  }

  #date {
    font-weight: 800;
    letter-spacing: 1px;
    padding-bottom: 15px;
    margin-top: -15px;
    font-size: 10px;
  }
  .s3news3 img {
    height: 430px;
}
  #logo {
    flex-direction: column;
    margin: 0px 0px;
  }

  #logo .searchBox {
    display: flex !important;
    margin-top: 15px;
    width: 100%;
  }

  #logo a img {
    width: 100%;
    margin-left: 0px;
  }

  #logo .searchBox .searchText {
    width: 90%;
  }

  #top {
    margin-top: 30px;
    flex-direction: column;
  }
  .top2 p a {

    font-size: 15px;

}

.show_main p:nth-child(4) {
  font-size: 20px;
  padding: 20px 0px 0px 0px;
}
.show_main h1 {
  font-size: 30px;
  padding: 20px 0px;
}

}

@media(max-width:425px){
  .top2 p a {

    font-size: 15px;

}
.show_main h1 {
  font-size: 20px;
}

.show_main p:nth-child(4) {
  font-size: 15px;
}

.s3news3 div:nth-child(2) p:nth-child(3) {
  font-size: 15px;
}
.text p:nth-child(3) {
  font-size: 15px;
}
.s3left p:nth-child(4) {
  font-size: 15px;
}

.sectionP1 {
  margin: 10px 0 0 0;
  padding: 0px 0px 0px 0px;
}



.top2 h1 {
  font-size: 20px !important;
}

.show img {
  width: 100%;
  height: 280px;
}
.f1 {
  flex-direction: column !important;
  align-items: baseline !important;
}

.footerCol {
  display: flex;
  flex-direction: column !important;
  width: 100%;
}
.s3news3 img {
  height: 250px;
}

.footerCol img {
  width: 100%;
  margin: 30px 0;
}
}